language: android
sudo: required
deploy:
  provider: releases
  api_key:
    secure: wkKiClObsuZhUZY2IsDDXpR38NQPHxvS84zZ0QKhyBps7h5FcBKxDG48Hr5q+cvPInb56/zjtD/RjRTLupj3Nw/7o6CuT4A67Ir6mVyP/oqgTk6LcDtkmR9RtoEqLuPYZwIROX5HiobU40cFjKavM/pwg+dPInY/X3s1HToo3adHgDVO3ybjiZR2N3Yg5to1MTC8fkGm1Uu5hQeQeBYwGKhtsypSb5Cv33jlLKaUO7kZlA6qKomyoCD5jbBg+aMvmn1Avleu/GBvSMU96IFyn9tMtO5ek1NqXBZNSdzJ5XoClzaKT97rJfCwmaOYXffGM1pzba2eDDJ+VXLxszMUIFFVvPxIE6W64OBvwd+AqKzWkL/StixwDQahvhzHNHHOIgNs30SgBjnpFjy3HIeRT5co/GunxPHhszp5oL8mGfYiLIn8VDBHDa8wrnT5buaAys/vHodvdj2dtN0O2x44tqBHCsf5wZmxxP2jsPIM8k/iHRcXvIJ8uQm5EtHy50Z/D+r2br0V774mVyosPEcpsky49hAc/S6HRsq87PQf2dGNAEHNPTLNMPQ4ztxoko4wJPDb25m0RzAmwokuizWguo1gM7QxspRsaHl42OXdqaCzddASFKDP3Up/HWNwZb/X2giLBWW3JeeBaEIiFfU6DAr+QdlQ+n3NHfiYKVYclFw=
  file: Controller/build/outputs/Controller-release-usigned.apk
  on:
    tags: true
notifications:
  email: false
env:
  global:
    # switch glibc to a memory conserving mode
    - MALLOC_ARENA_MAX=2
    # wait up to 10 minutes for adb to connect to emulator
    - ADB_INSTALL_TIMEOUT=10
before_script:
  - mkdir Controller/libs
  - wget $(curl -Ls -o /dev/null -w %{url_effective} https://github.com/DustHoff/weatherbox/releases/latest | sed 's/tag/download/g')/Weatherbox-api.jar -O Controller/libs/weatherbox.jar
  - echo no | android create avd --force -n test -t android-19 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 1 &
script: gradle build connectedCheck --stacktrace
android:
  components:
    - build-tools-23.0.1

    # The SDK version used to compile your project
    - android-23

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-23

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-armeabi-v7a-android-23
    - sys-img-x86-android-19
